
<div class="banner">
  <img src="https://media.istockphoto.com/id/156303675/photo/goofy-skeptical-redneck-with-mullet.jpg?s=612x612&w=0&k=20&c=gHpTRvbn7f2XZy63CPgf01hRXNH8IK2g0ATrXJYxStg=" />
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h1 class="pb-2"></h1>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">
        <% @offers.each do |offer| %>
          <div class="col">
            <%= link_to offer, class:"text-decoration-none" do %>
              <div class="card.offer card-cover h-100 text-bg-dark rounded-4 shadow-lg", style="background-image: url(<%= offer.photo.attached? ? cl_image_path(offer.photo.key) : 'https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg' %>);">
                <div class="d-flex flex-column justify-content-end pb-3 text-white text-shadow-1">
                  <h3 class="p-5 lh-1 fw-bold"><%= offer.title %></h3>
                  <ul class="d-flex list-unstyled p-2 justify-content-between">
                    <li>
                      <small><%= offer.address %></small>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                      </svg>
                      <small><%= offer.price %>$/day</small>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <%= render 'map' %>
    </div>
  </div>
</div>
