<div class="banner-offer mt-3 mx-3">
  <img src="<%= @offer.photo.attached? ? cl_image_path(@offer.photo.key) : 'https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg' %>" />
  <div class="banner-offer-infos">
    <h1><%= @offer.title.capitalize %> 🎯</h1>
    <div class="icone p-3">
      <% if current_user == @offer.user %>
        <%= link_to edit_offer_path(@offer) do %>
          <i class="fas fa-edit position-absolute bottom-0 end-0 px-2 py-2"></i>
        <% end %>
        <%= link_to offer_path(@offer), class:"text-white", data: {turbo_method: :delete, turbo_confirm: 'Are you sure brooo ??'} do %>
          <i class="fa-regular fa-trash-can position-absolute top-0 end-0 px-2 py-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-card d-flex row">
  <div class="col-4 align-self-center">
    <div class="cards-offer d-flex mt-3 justify-content-evenly">
      <div class="card-offer flex-column ms-3" style="height: 100%;">
        <div class="card-offer-information">
          <h2> Information : </h2>
          <p> 💳 <%= @offer.price %> € </p>
          <p class = "ms-3" > 📍 <%= @offer.address %></p>
          <p> pers <%= @offer.places %> people(s) </p>
        </div>
        <div class="card-offer-description">
          <h2>Description :</h2>
          <p><%= @offer.description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 align-self-center">
    <%= render 'map', class:"flex-column justify-content-center" %>
    <div class="d-flex justify-content-center mb-3">
      <div class = "">
        <%= link_to 'Back', offer_path(@offer.prev), class:'ms-3 mt-3 px-5 py-2 form-actions btn btn-ghost' if @offer.prev %>
        <%= link_to 'All', root_path, class:'ms-3 mt-3 px-5 py-2 form-actions btn btn-ghost' %>
        <%= link_to 'Next', offer_path(@offer.next), class:'ms-3 mt-3 px-5 py-2 form-actions btn btn-ghost' if @offer.next %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-offer text-center">
      <%= render 'bookings/new_booking_form', booking: @booking, offer: @offer %>
    </div>
  </div>
</div>
