<div class="col-12 col-sm-6 col-md-4 col-lg-4">
  <div class="cards-offer">
    <div class="card-offer">
      <div class="picture">
        <img src="<%= offer.photo.attached? ? cl_image_path(offer.photo.key) : 'https://mrwallpaper.com/images/hd/ios-13-dark-default-b87pdhc857zkxftr.jpg' %>", height='300px'>
      </div>
      <div class="card-dashboard-infos">
        <h2 class="text-truncate p-2"><%= offer.title %></h2>
        <p><strong><%= offer.description %></strong> € </p>
        <p><%= offer.price %> € </p>
        <p><%= offer.address %></p>
        <p>For <%= offer.places %> 👫👬👭</p>
      </div>
    </div>
  </div>
</div>
